:root {
    --gestalt-theme: classic-lightMode;
    --color-red-pushpin-0: #fff7f7;
    --color-red-pushpin-50: #ffebeb;
    --color-red-pushpin-100: #ffe0e0;
    --color-red-pushpin-200: #fcbbbb;
    --color-red-pushpin-300: #f47171;
    --color-red-pushpin-400: #eb4242;
    --color-red-pushpin-450: #e60023;
    --color-red-pushpin-500: #cc0000;
    --color-red-pushpin-600: #b60000;
    --color-red-pushpin-700: #9b0000;
    --color-red-pushpin-800: #800000;
    --color-red-pushpin-900: #660000;
    --color-pink-flaminglow-0: #fff8fa;
    --color-pink-flaminglow-50: #ffebf1;
    --color-pink-flaminglow-100: #ffdfe9;
    --color-pink-flaminglow-200: #ffbed2;
    --color-pink-flaminglow-300: #fe8eb1;
    --color-pink-flaminglow-400: #f76593;
    --color-pink-flaminglow-450: #ee376a;
    --color-pink-flaminglow-500: #de2c62;
    --color-pink-flaminglow-600: #c31952;
    --color-pink-flaminglow-700: #a30c4a;
    --color-pink-flaminglow-800: #82053e;
    --color-pink-flaminglow-900: #630233;
    --color-blue-skycicle-0: #f7fbff;
    --color-blue-skycicle-50: #e6f4ff;
    --color-blue-skycicle-100: #d7edff;
    --color-blue-skycicle-200: #abdbff;
    --color-blue-skycicle-300: #75bfff;
    --color-blue-skycicle-400: #45a3fe;
    --color-blue-skycicle-450: #007cff;
    --color-blue-skycicle-500: #0074e8;
    --color-blue-skycicle-600: #005fcb;
    --color-blue-skycicle-700: #004ba9;
    --color-blue-skycicle-800: #003c96;
    --color-blue-skycicle-900: #002966;
    --color-teal-spabattical-0: #f7fdfc;
    --color-teal-spabattical-50: #e6faf5;
    --color-teal-spabattical-100: #ccf6ee;
    --color-teal-spabattical-200: #75e4d5;
    --color-teal-spabattical-300: #48d5c6;
    --color-teal-spabattical-400: #26c0b4;
    --color-teal-spabattical-450: #009990;
    --color-teal-spabattical-500: #00857c;
    --color-teal-spabattical-600: #006b6c;
    --color-teal-spabattical-700: #005c62;
    --color-teal-spabattical-800: #005062;
    --color-teal-spabattical-900: #003440;
    --color-green-matchacado-0: #f6fdf5;
}